html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.page {
    display: grid;
    height: 100vh;
    grid-template-columns: 40vw 30vw 30vw;
    grid-template-rows: 5vh 5vh 6em 10em 14vh 1fr 5vh;
    grid-template-areas:
    'head       head   head'
    'autocoding inputSection codingsystem'
    'autocoding assignments codingsystem'
    'autocoding jobDescription codingsystem'
    'autocoding comments codingsystem'
    'autocoding singlejob codingsystem'
    'status     status status';
  }
  
  .top-row {
      grid-area: head;
  }
  .left-column {
      grid-area: autocoding;
  }
  .inputSection {
      grid-area: inputSection;
      margin-left: 3px;
      margin-top: 3px;
  }

  .assignments {
      grid-area: assignments;
      overflow: auto;
      margin-left: 3px;
  }

  .jobDescription {
      grid-area: jobDescription;
      overflow: auto;
      margin-left: 3px;
  }

  .comments {
      grid-area: comments;
      box-sizing: border-box;
      margin-left: 3px;
      padding-bottom: 4px;
      overflow: auto;
      display: flex;
      flex-direction: column;;
  }

  .comments textarea{
    flex-grow: 1;
    resize: none;
    width: 100%;
  }
  .singlejob {
      grid-area: singlejob;
      padding-top: 4px;
      box-sizing: border-box;
      overflow-y: auto;
  }

  .right-column {
      grid-area: codingsystem;
  }

  footer {
      grid-area: status;
  }

  .nav-link.dropdown-toggle::after {
      content: none;
  }

  .font75 {
      font-size: 0.75rem;
  }

.flex-equal {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

textarea {
    resize: none;
    overflow: auto;
    padding: 3px;
    width: 100%;
}

#soccerResultsHead th {
    position: sticky;
    background-color: white;
    top: 0;
}

#soccerResultsBody tr.selected {
    background-color: lightgreen;
}

#rowSpan {
    min-width: 40rem;
    text-align: center;
}
.annotated::before{
    content: "\2611";
}
.not-annotated::before{
    content: "\2610";
}

.redflag::before {
    content: "\2691";
    color: red;
}

.infoflag::before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-image: url('img/info-circle-fill.svg');
    opacity: 1;
}

.infoflag:hover::before path {
    fill: red
}

.nowrap,
table.table-sort th {
    white-space: nowrap;
}


#soccerResultsBody > tr.selectedRow {
    background-color: slategray;
    color: gainsboro;
}

table.table-sort .noSort:after {
    content: "";
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
    background-size: 0.75em 0.75em;
    background-repeat: no-repeat;
    background-image: url('img/up-and-down-arrow.svg');
}

table.table-sort .sortUp::after {
    content: "";
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
    background-size: 0.75em 0.75em;
    background-repeat: no-repeat;
    background-image: url('img/up-arrow.svg');
}

table.table-sort .sortDown::after {
    content: "";
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
    background-size: 0.75em 0.75em;
    background-repeat: no-repeat;
    background-image: url('img/down-arrow.svg');
}

table.table-sort td::after {
    display: inline-block;
}

.treeview,
.treeview ul {
    list-style-type: none;
}

.treeview .caret-up::before {
    display: inline-block;
    content: '\2295';
    padding-right: 2px;
}

.treeview .caret-down::before {
    display: inline-block;
    content: '\2296';
    padding-right: 2px;
}

.treeview .caret-up+ul {
    display: none;
}

.loader {
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 2;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid  #bb0e3d;
    border-bottom: 16px solid  #bb0e3d;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }